# 기업개황

In [1]:
import pandas as pd
rldjq = pd.read_csv("all_company.csv")
rldjq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3826 entries, 0 to 3825
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status         3826 non-null   int64
 1   message        3826 non-null   object
 2   corp_code      3826 non-null   int64
 3   corp_name      3826 non-null   object
 4   corp_name_eng  3823 non-null   object
 5   stock_name     3826 non-null   object
 6   stock_code     3826 non-null   int64
 7   ceo_nm         3826 non-null   object
 8   corp_cls       3826 non-null   object
 9   jurir_no       3789 non-null   float64
 10  bizr_no        3826 non-null   object
 11  adres          3826 non-null   object
 12  hm_url         3613 non-null   object
 13  ir_url         285 non-null    object
 14  phn_no         3826 non-null   object
 15  fax_no         3542 non-null   object
 16  induty_code    3826 non-null   int64
 17  est_dt         3826 non-null   int64
 18  acc_mt         3826 non-null   int64
dtypes: float64(1), int64(6), object(12)
memory usage: 568.1+ KB

In [2]:
rldjq
drop_columns_rldjq = ["status", "message","corp_name_eng"]
rldjq["jurir_no"] = rldjq["jurir_no"].fillna("미제공")
rldjq["hm_url"] = rldjq["hm_url"].fillna("미제공")
rldjq["fax_no"] = rldjq["fax_no"].fillna("미제공")
rldjq["ir_url"] = rldjq["ir_url"].fillna("미제공")
corp_cls_mapping = {
    "Y": "유가",
    "K": "코스닥",
    "N": "코넥스",
    "E": "기타"
}
rldjq["corp_cls"] = rldjq["corp_cls"].map(corp_cls_mapping)
rldjq = rldjq.drop(columns=drop_columns_rldjq)
rldjq[["corp_code", "corp_name", "corp_cls"]].head()

   corp_code            corp_name corp_cls
0    1718407        주식회사 블랙야크아이앤씨      코스닥
1    1601286  미래에셋비전기업인수목적1호 주식회사       기타
2    1091382              (주)세토피아      코스닥
3     585219             세원이앤씨(주)       유가
4    1274310             이오플로우(주)      코스닥

In [3]:
import pandas as pd

# CSV 파일 불러오기
rldjq = pd.read_csv("all_company.csv")

# 데이터 정보 출력

# 필요 없는 컬럼 제거
drop_columns_rldjq = ["status", "message", "corp_name_eng"]

# 결측값 채우기
rldjq["jurir_no"] = rldjq["jurir_no"].fillna("미제공")
rldjq["hm_url"] = rldjq["hm_url"].fillna("미제공")
rldjq["fax_no"] = rldjq["fax_no"].fillna("미제공")
rldjq["ir_url"] = rldjq["ir_url"].fillna("미제공")

# corp_cls 값 매핑
corp_cls_mapping = {
    "Y": "유가",
    "K": "코스닥",
    "N": "코넥스",
    "E": "기타"
}
rldjq["corp_cls"] = rldjq["corp_cls"].map(corp_cls_mapping)

# 필요 없는 컬럼 제거
rldjq = rldjq.drop(columns=drop_columns_rldjq)

# corp_code와 stock_code를 문자열로 변환한 후 자리수 맞추기
rldjq["corp_code"] = rldjq["corp_code"].astype(str).str.zfill(8)
rldjq["stock_code"] = rldjq["stock_code"].astype(str).str.zfill(6)

# 정리된 데이터 저장
cleaned_file_path = "cleaned_all_company.csv"
rldjq.to_csv(cleaned_file_path, index=False)

# 처리된 데이터 확인
rldjq[["corp_code", "corp_name", "corp_cls"]].head()
rldjq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3826 entries, 0 to 3825
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   corp_code    3826 non-null   object
 1   corp_name    3826 non-null   object
 2   stock_name   3826 non-null   object
 3   stock_code   3826 non-null   object
 4   ceo_nm       3826 non-null   object
 5   corp_cls     3826 non-null   object
 6   jurir_no     3826 non-null   object
 7   bizr_no      3826 non-null   object
 8   adres        3826 non-null   object
 9   hm_url       3826 non-null   object
 10  ir_url       3826 non-null   object
 11  phn_no       3826 non-null   object
 12  fax_no       3826 non-null   object
 13  induty_code  3826 non-null   int64
 14  est_dt       3826 non-null   int64
 15  acc_mt       3826 non-null   int64
dtypes: int64(3), object(13)
memory usage: 478.4+ KB